.rfui-ripple {
	position: absolute;
	border-radius: 9999px;
	pointer-events: none;
	background-color: currentColor;
	opacity: 0.25;
	transform: scale(0);
	animation: rfui-ripple 650ms ease-out forwards;
}

.rfui-button {
	transition-property: background-color, color, border-color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-style);
}

.rfui-button__content {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
}

.rfui-button__start,
.rfui-button__end,
.rfui-button__label {
	display: inline-flex;
	align-items: center;
}

@keyframes rfui-ripple {
	to {
		transform: scale(1);
		opacity: 0;
	}
}
