:root {
	/* FONTS */
	--font-family:
		"Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		sans-serif;

	--font-weight: 500;

	/* COLORS */
	/* Text */
	--color-text-50: hsl(0, 0%, 95%);
	--color-text-100: hsl(0, 0%, 90%);
	--color-text-200: hsl(0, 0%, 80%);
	--color-text-300: hsl(0, 0%, 70%);
	--color-text-400: hsl(0, 0%, 60%);
	--color-text-500: hsl(0, 0%, 50%);
	--color-text-600: hsl(0, 0%, 40%);
	--color-text-700: hsl(0, 0%, 30%);
	--color-text-800: hsl(0, 0%, 20%);
	--color-text-900: hsl(0, 0%, 10%);
	--color-text-950: hsl(0, 0%, 5%);
	--color-text: var(--color-text-950);

	/* Background */
	--color-background-50: hsl(0, 0%, 95%);
	--color-background-100: hsl(0, 0%, 90%);
	--color-background-200: hsl(0, 0%, 80%);
	--color-background-300: hsl(0, 0%, 70%);
	--color-background-400: hsl(0, 0%, 60%);
	--color-background-500: hsl(0, 0%, 50%);
	--color-background-600: hsl(0, 0%, 40%);
	--color-background-700: hsl(0, 0%, 30%);
	--color-background-800: hsl(0, 0%, 20%);
	--color-background-900: hsl(0, 0%, 10%);
	--color-background-950: hsl(0, 0%, 5%);
	--color-background: var(--color-background-50);

	/* Primary */
	--color-primary-50: hsl(196, 60%, 95%);
	--color-primary-100: hsl(194, 57%, 90%);
	--color-primary-200: hsl(194, 59%, 80%);
	--color-primary-300: hsl(194, 58%, 70%);
	--color-primary-400: hsl(194, 58%, 60%);
	--color-primary-500: hsl(194, 58%, 50%);
	--color-primary-600: hsl(194, 58%, 40%);
	--color-primary-700: hsl(194, 58%, 30%);
	--color-primary-800: hsl(194, 59%, 20%);
	--color-primary-900: hsl(194, 57%, 10%);
	--color-primary-950: hsl(192, 60%, 5%);
	--color-primary: var(--color-primary-700);
	--color-primary-foreground: var(--color-text-50);

	/* Secondary */
	--color-secondary-50: hsl(60, 12%, 95%);
	--color-secondary-100: hsl(60, 14%, 90%);
	--color-secondary-200: hsl(64, 14%, 80%);
	--color-secondary-300: hsl(60, 12%, 70%);
	--color-secondary-400: hsl(62, 13%, 60%);
	--color-secondary-500: hsl(62, 13%, 50%);
	--color-secondary-600: hsl(62, 13%, 40%);
	--color-secondary-700: hsl(60, 12%, 30%);
	--color-secondary-800: hsl(64, 14%, 20%);
	--color-secondary-900: hsl(60, 14%, 10%);
	--color-secondary-950: hsl(60, 12%, 5%);
	--color-secondary: var(--color-secondary-700);
	--color-secondary-foreground: var(--color-text-50);

	/* Tertiary */
	--color-tertiary-50: hsl(337, 92%, 95%);
	--color-tertiary-100: hsl(335, 88%, 85%);
	--color-tertiary-200: hsl(335, 88%, 72%);
	--color-tertiary-300: hsl(335, 90%, 62%);
	--color-tertiary-400: hsl(335, 89%, 52%);
	--color-tertiary-500: hsl(335, 89%, 42%);
	--color-tertiary-600: hsl(335, 89%, 32%);
	--color-tertiary-700: hsl(335, 90%, 22%);
	--color-tertiary-800: hsl(335, 88%, 15%);
	--color-tertiary-900: hsl(335, 88%, 10%);
	--color-tertiary-950: hsl(334, 92%, 5%);
	--color-tertiary: var(--color-tertiary-700);
	--color-tertiary-foreground: var(--color-text-50);

	/* Default */
	--color-default-50: hsl(240, 5%, 95%);
	--color-default-100: hsl(240, 5%, 90%);
	--color-default-200: hsl(240, 5%, 80%);
	--color-default-300: hsl(240, 5%, 70%);
	--color-default-400: hsl(240, 5%, 60%);
	--color-default-500: hsl(240, 5%, 50%);
	--color-default-600: hsl(240, 5%, 40%);
	--color-default-700: hsl(240, 5%, 30%);
	--color-default-800: hsl(240, 5%, 20%);
	--color-default-900: hsl(240, 5%, 10%);
	--color-default-950: hsl(240, 5%, 5%);
	--color-default: var(--color-default-200);
	--color-default-foreground: var(--color-text-950);

	/* SIZING */
	--radus-none: 0rem;
	--radius-xs: 0.125rem;
	--radius-sm: 0.25rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-2xl: 1rem;
	--radius-3xl: 1.5rem;
	--radius-4xl: 2rem;
	--spacing-md: 0.75rem;

	/* TRANSITION */
	--transition-duration: 225ms;
	--transition-style: ease-in-out;
}
