:root,
:root[data-theme="light"],
:root.light {
	/* FONTS */
	--font-family:
		"Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		sans-serif;

	--font-weight: 500;

	/* COLORS */
	/* Text */
	--color-text-50: 0, 100%, 95%;
	--color-text-100: 0, 100%, 90%;
	--color-text-200: 0, 100%, 80%;
	--color-text-300: 0, 100%, 70%;
	--color-text-400: 0, 100%, 60%;
	--color-text-500: 0, 100%, 50%;
	--color-text-600: 0, 100%, 40%;
	--color-text-700: 0, 100%, 30%;
	--color-text-800: 0, 100%, 20%;
	--color-text-900: 0, 100%, 10%;
	--color-text-950: 0, 100%, 5%;
	--color-text: var(--color-text-900);

	/* Background */
	--color-background-50: 70, 35%, 95%;
	--color-background-100: 70, 35%, 90%;
	--color-background-200: 70, 35%, 80%;
	--color-background-300: 70, 35%, 70%;
	--color-background-400: 70, 35%, 60%;
	--color-background-500: 70, 35%, 50%;
	--color-background-600: 70, 35%, 40%;
	--color-background-700: 70, 35%, 30%;
	--color-background-800: 70, 35%, 20%;
	--color-background-900: 70, 35%, 10%;
	--color-background-950: 70, 35%, 5%;
	--color-background: var(--color-background-50);

	/* Primary */
	--color-primary-50: 320 60% 95%;
	--color-primary-100: 320 60% 79%;
	--color-primary-200: 320 60% 63%;
	--color-primary-300: 320 60% 46%;
	--color-primary-400: 320 60% 30%;
	--color-primary-500: 320 60% 25%;
	--color-primary-600: 320 60% 21%;
	--color-primary-700: 320 60% 17%;
	--color-primary-800: 320 60% 13%;
	--color-primary-900: 320 60% 9%;
	--color-primary-950: 320 60% 5%;
	--color-primary: var(--color-primary-400);
	--color-primary-foreground: var(--color-text-50);
	--color-primary-foreground-inverted: var(--color-text-950);

	/* Secondary */
	--color-secondary-50: 255 55% 95%;
	--color-secondary-100: 255 55% 90%;
	--color-secondary-200: 255 55% 85%;
	--color-secondary-300: 255 55% 75%;
	--color-secondary-400: 255 55% 55%;
	--color-secondary-500: 255 55% 45%;
	--color-secondary-600: 255 55% 35%;
	--color-secondary-700: 255 55% 25%;
	--color-secondary-800: 255 55% 15%;
	--color-secondary-900: 255 55% 10%;
	--color-secondary-950: 255 55% 5%;
	--color-secondary: var(--color-secondary-400);
	--color-secondary-foreground: var(--color-text-50);
	--color-secondary-foreground-inverted: var(--color-text-950);

	/* Tertiary */
	--color-tertiary-50: 190 60% 95%;
	--color-tertiary-100: 190 60% 79%;
	--color-tertiary-200: 190 60% 63%;
	--color-tertiary-300: 190 60% 46%;
	--color-tertiary-400: 190 60% 30%;
	--color-tertiary-500: 190 60% 25%;
	--color-tertiary-600: 190 60% 21%;
	--color-tertiary-700: 190 60% 17%;
	--color-tertiary-800: 190 60% 13%;
	--color-tertiary-900: 190 60% 9%;
	--color-tertiary-950: 190 60% 5%;
	--color-tertiary: var(--color-tertiary-400);
	--color-tertiary-foreground: var(--color-text-50);
	--color-tertiary-foreground-inverted: var(--color-text-950);

	/* Default */
	--color-default-50: 0 0% 95%;
	--color-default-100: 0 0% 79%;
	--color-default-200: 0 0% 63%;
	--color-default-300: 0 0% 46%;
	--color-default-400: 0 0% 30%;
	--color-default-500: 0 0% 25%;
	--color-default-600: 0 0% 21%;
	--color-default-700: 0 0% 17%;
	--color-default-800: 0 0% 13%;
	--color-default-900: 0 0% 9%;
	--color-default-950: 0 0% 5%;
	--color-default: var(--color-default-400);
	--color-default-foreground: var(--color-text-50);
	--color-default-foreground-inverted: var(--color-text-950);

	/* Success (Preserved) */
	--color-success-50: 150 54% 95%;
	--color-success-100: 150 54% 79%;
	--color-success-200: 150 54% 63%;
	--color-success-300: 150 54% 46%;
	--color-success-400: 150 54% 29%;
	--color-success-500: 150 54% 25%;
	--color-success-600: 150 54% 21%;
	--color-success-700: 150 54% 17%;
	--color-success-800: 150 54% 13%;
	--color-success-900: 150 54% 9%;
	--color-success-950: 150 54% 5%;
	--color-success: var(--color-success-400);
	--color-success-foreground: var(--color-text-50);
	--color-success-foreground-inverted: var(--color-text-950);

	/* Info */
	--color-info-50: 210 65% 95%;
	--color-info-100: 210 65% 79%;
	--color-info-200: 210 65% 63%;
	--color-info-300: 210 65% 46%;
	--color-info-400: 210 65% 40%;
	--color-info-500: 210 65% 30%;
	--color-info-600: 210 65% 21%;
	--color-info-700: 210 65% 17%;
	--color-info-800: 210 65% 13%;
	--color-info-900: 210 65% 9%;
	--color-info-950: 210 65% 5%;
	--color-info: var(--color-info-400);
	--color-info-foreground: var(--color-text-50);
	--color-info-foreground-inverted: var(--color-text-950);

	/* Warning (Preserved) */
	--color-warning-50: 40 100% 95%;
	--color-warning-100: 40 100% 85%;
	--color-warning-200: 40 100% 75%;
	--color-warning-300: 40 100% 65%;
	--color-warning-400: 40 100% 50%;
	--color-warning-500: 40 100% 45%;
	--color-warning-600: 40 100% 40%;
	--color-warning-700: 40 90% 30%;
	--color-warning-800: 40 100% 20%;
	--color-warning-900: 40 100% 15%;
	--color-warning-950: 40 100% 5%;
	--color-warning: var(--color-warning-400);
	--color-warning-foreground: var(--color-text-800);
	--color-warning-foreground-inverted: var(--color-text-700);

	/* Danger (Preserved) */
	--color-danger-50: 0 90% 95%;
	--color-danger-100: 0 90% 79%;
	--color-danger-200: 0 90% 63%;
	--color-danger-300: 0 90% 46%;
	--color-danger-400: 0 90% 30%;
	--color-danger-500: 0 90% 25%;
	--color-danger-600: 0 90% 21%;
	--color-danger-700: 0 90% 17%;
	--color-danger-800: 0 90% 13%;
	--color-danger-900: 0 90% 9%;
	--color-danger-950: 0 90% 5%;
	--color-danger: var(--color-danger-400);
	--color-danger-foreground: var(--color-text-50);
	--color-danger-foreground-inverted: var(--color-text-700);

	/* SIZING */
	--radus-none: 0rem;
	--radius-xs: 0.125rem;
	--radius-sm: 0.25rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-2xl: 1rem;
	--radius-3xl: 1.5rem;
	--radius-4xl: 2rem;
	--spacing-md: 0.75rem;

	/* TRANSITION */
	--transition-duration: 225ms;
	--transition-style: ease-in-out;
}
